@page
@using Microsoft.Extensions.Localization
@using HD.Profiles.Localization
@using HD.Profiles.Web.Pages.Profiles
@model HD.Profiles.Web.Pages.Profiles.IndexModel
@inject IStringLocalizer<ProfilesResource> L

@{
}
<h1>Profiles123</h1>
<p>@L["SamplePageMessage"]</p>
